.header {
    background-color: #007bff;
  
    .container {
      margin: 0 auto;
      padding: 0 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  h1{
    color: white;
    margin: 15px 15px;
  }
  